doctype 5
html
	head
		title Miaou - Room Authorizations
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/moment.min.js")
		script(src="static/miaou.format.js")
		style.
			#submit_bar {
				clear:both;
				display:none;
			}
	body
		form(method="post")
			input(type="hidden",name="room",value=room.id)
			div.MP
				h1
					a(href="rooms") Miaou
					| /
					a(href=room.id)= room.name
				if room.private
					p This room is private, only authorized users can enter.
				else
					p This room is public, everybody can read and write but authorizations are needed to change the name and description or manage authorizations.
				if room.auth=='own'
					p
						| As a room owner you can change everybody's rights. You can also &nbsp;
						a(href="room?id="+room.id)
							| edit the room
							if room.private
								| and make it public
							else
								| and make it private
							| .
				else
					p
						| As a room admin you can change the rights of everybody, apart owners. You can also &nbsp;
						a(href="room?id="+room.id) edit the room
						| .
				div.CL
					h2 Access Requests
					table.list
						each r, i in requests
							tr
								th= r.name
								td.date= r.requested
								td
									- var name = "answer_request_"+r.player
									input(type="radio", name=name, id="g"+i, value="grant")
									label(for="g"+i) Grant Access
									input(type="radio", name=name, id="d"+i, value="deny")
									label(for="d"+i) Deny Access
				div.CR
					h2 Existing Authorizations
					table.list
						each ua in auths
							tr
								th= ua.name
								if room.auth!=='own' && ua.auth==='own'
									td.auth= ua.auth
								else
									td.auth
										- var name = "change_auth_"+ua.player
										select(name=name)
											if room.auth==='own'
												option(value="own", selected=ua.auth==="own") own
											option(value="admin", selected=ua.auth==="admin") admin
											option(value="write", selected=ua.auth==="write") write
											option(value="none") no access
				p#submit_bar
					input(type="reset", value="Cancel Changes")
					input(type="submit", value="Validate Changes")

		script.
			var auths = !{JSON.stringify(auths)};
			$('.date').text(function(_,t){ return moment(t*1000).fromNow() });
			$('input, select').change(function(){ $('#submit_bar').show() })
			$('input[type=reset]').click(function(){ $('#submit_bar').hide() });
