doctype html
html(lang=vars.room.lang)
	head
		title=Miaou
		link(id="favicon",rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet',href='static/themes/'+locals.theme+'/miaou.css')
		script(src="static/jquery-2.1.3.min.js")
		script(src="static/socket.io.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/chat.min.js")
	body.chat
		#left
			section#prefs
				a#me.pref(href="prefs?",title="Profile Settings")
			section
				button.small#auths authorizations
				h2 Users
				#users
		#center
			#vert-center
				#message-scroller
					div#messages
				#notifications
				#input-panel
					textarea#input(lang=vars.room.lang)
					button.small#send Send
					button.small#showPreview Preview
					button.small#cancelEdit(style="display:none") Cancel
					button.small#uploadOpen Upload
					button.small#help Help			
				#upload-panel
					#upload-controls
						| Select an image to send to imgur
						br
						br
						input(type="file",id="file")
						button#uploadSend Send
						button#cancelUpload Cancel
					#upload-wait(style="display:none")
						img(src="static/ajax-loader-brown.gif")
				#preview-panel
					#preview.rendered
					button.small#shortcuts Shortcuts
					button.small#hidePreview Hide
			#hist
		#right
			section#room-info
				button.small#changeroom home
				button.small#editroom edit
				h2
					a#roomname(href=vars.room.path)
				div#roomdescription.rendered
			div.tabs
				span.tab.selected(page="notablemessagespage") Notable Messages
				span.tab(page="search") Search
			div.page.selected#notablemessagespage
				div#notable-messages
			div.page#search
				input#searchInput(autocomplete="off")
				div#search-results
					i
						p Type anything to search it (common English words are ignored)
						p Hit <code>esc</code> to clear
		
