doctype html
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
	body.logo
		div.dialog.intro
			div.dialog_title Authentication
			div.dialog_content
				p Miaou is a multi-room persistent chat server. It's free to use and anybody can create public or private rooms.
				p.toRemoveWhenLogin To prevent impersonation, users must be logged. Sign In With :
			div.dialog_buttons#buttons

		a(href="https://github.com/Canop/miaou",target="github")
			img(style="position:absolute; top:0; right:0; border:0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",alt="Fork me on GitHub")
		
		script.
			if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|Mini/i.test(navigator.userAgent)) $(document.body).addClass('mobile');

			var m = location.toString().match(/room=(\d+)/), strategies = !{JSON.stringify(oauth2Strategies)};
			if (m) {
				localStorage['login.room'] = m[1];
			} else {
				delete localStorage['login.room'];
			}
			if (localStorage['successfulLoginLastTime'] && localStorage['lastUsedStrategy'] && strategies[localStorage['lastUsedStrategy']]) {
				delete localStorage['successfulLoginLastTime'];
				$('#buttons').html('<i>Authentication in progress...</i>');
				$('.toRemoveWhenLogin').remove();
				setTimeout(function(){ location = strategies[localStorage['lastUsedStrategy']].url }, 100);
			} else {
				var names = {
					google: "<span class=icon>&#xe818;</span> Google",
					stackexchange: "<span class=icon>&#xe816;</span> StackExchange",
					github: "<span class=icon>&#xe817;</span> GitHub",
					reddit: "<span class=icon>&#xe819;</span> reddit"
				};
				for (var key in strategies) {
					(function(key, strategy){
						$('<button>').html(names[key]||key).click(function(){
							localStorage['lastUsedStrategy'] = key;
							location = strategies[key].url;
						}).appendTo('#buttons');
					})(key, strategies[key]);
				}
			}
