doctype 5
html
	head
		title Miaou - Profile
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
	body
		form(method="post")
			div#centerer
				div.dialog.centered
					div.dialog_title Profile Edition
					div.dialog_content
						p Pick a name by which you will be recognized.
						p Choose wisely (not &quot;wisely&quot;).
						div.form
							label.label Name
							input#name(type="text", name="name", value=suggestedName, pattern="\\w[\\w_\\-\\d]{2,19}")
						section.externalProfiles
							h2 External Profiles
							each ep in externalProfileInfos
								section.externalProfileForm
									h3.sectionOpener= ep.name
									section
										if ep.html
											div.externalProfile !{ep.html}
											div.inputs
												- var cbid = "remove_"+ep.name
												input(type="checkbox",name=cbid,id=cbid)
												label(for=cbid) Remove this profile
										else
											table
												each field in ep.fields
													tr
														td
															label= field.label+' : '
														td
															input(type=(field.type||'text'),name=field.name)
											if ep.creationDescription
												p !{ep.creationDescription}
						p#err.error= error
					div.dialog_buttons
						button#submit Save
						button#close Go On
		
		script.
			var externalProfileInfos = !{JSON.stringify(externalProfileInfos)},
				valid = !{JSON.stringify(valid)};
			$('#name').focus().keyup(function(){
				if (!this.validity.valid){ // not compatible with IE, that's fine 
					$('#err').text('Please type a name with 3 to 20 standard characters, digits, "_" or "-"');
					$('#submit').prop('disabled', true);
				} else if (/w+[_-]*[iy]+[_-]*s+[_-]*e+[_-]*l+[_-]*[iy]+/i.test(this.value)) {
					$('#err').text('More wisely, less "wisely", please.');
					$('#submit').prop('disabled', true);
				} else {
					$('#err').text('');
					$('#submit').prop('disabled', false);
				}
			});
			$('#close').click(function(){ location = 'rooms'; return false; });
			
			if (!valid) $('#close').hide();
			
			$('.sectionOpener + section').hide();
			$('.sectionOpener').click(function(){
				$(this).toggleClass('sectionOpener sectionCloser').next('section').toggle();
			});
