doctype html
html
	head
		title Miaou - Rooms
		meta(name="viewport",content="initial-scale=1, maximum-scale=1")
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		script(src="static/jquery-2.1.3.min.js")
		script#locals(type="Application/JSON") !{JSON.stringify(vars)}
		script(src="static/miaou.min.js")
		script(src="static/rooms.min.js")
		style.
			body.mobile {
				padding: 0;
				overflow-x: hidden;
			}
			a {
				color: black;
			}
			#mobtop {
				position: absolute;
				z-index: 4;
				width: 100%;
				top: 0;
				overflow-x: hidden;
			}
			#logo {
				text-align: center;
				line-height: 25px;
				box-shadow: 0 0 10px black;
			}
			#logo img {
				margin-top: 10px;
				max-height: 70px;
			}
			#logo a {
				margin: 0 10px;
			}
			#notifs {
				width: 100%;
				background: #F0EAD6 ;
				box-shadow: inset 0 0 5px black;
				padding: 3px;
			}
			#mobstrip {
				position: fixed;
				top: 0;
				background: #F0EAD6 ;
				z-index: 3;
				right: 0;
				left: 0;
			}
			.mobtabs {
				display: flex;
				align-items: stretch;
				width: 100%;
				background: #F0EAD6 ;
				box-shadow: 0 0 10px black;
				padding: 3px;
			}
			.mobtabs .tab {
				padding: 5px;
				flex-grow: 1;
				text-align: center;
				color: #777;
			}
			.mobtabs .tab.selected {
				color: black;
			}
			body.mobile #home-main-content {
				position: relative;
				margin-top: 250px;
			}
			h3 {
				text-align: center;
			}
	body.mobile
		div#mobtop
			div#logo
				img(src="static/Miaou-300-f.png")
				p.links
					| You're logged as
					a.username(href="prefs")= user.name
					br
					a(id="logout",href="#") Log Out
					| -
					a(href="room") Create a room
					| -
					a(href="help#About",target=help) Help
			div#notifs
				if pings.length==1
					p
						| You've been pinged in room&nbsp;
						a(href=pings[0].room)= pings[0].roomname
				else if pings.length
					p You've been pinged in rooms
					ul 
						each ping in pings
							li
								a(href=ping.room)= ping.roomname
				else
					p No notification
			div.mobtabs
				div.tab Your<br>Rooms
				div.tab Public<br>Rooms
				div.tab Private<br>Rooms
				div.tab Dialog<br>Rooms
		div#mobstrip
			div.mobtabs
				div.tab Your<br>Rooms
				div.tab Public<br>Rooms
				div.tab Private<br>Rooms
				div.tab Dialog<br>Rooms
		div#home-main-content
			div.table

