doctype 5
html
	head
		title Miaou - Rooms
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/miaou.min.js")
	body.home
		a(href="https://github.com/Canop/miaou",target="github")
			img(style="position:absolute; top:0; right:0; border:0;",src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png",alt="Fork me on GitHub")

		div#logo
			div.MP
				img(src="static/Miaou-300-f.png")
				p.links
					| You're logged as
					a.username(href="profile",title="edit profile")= user.name
					| -
					a(id="logout",href="#") Log Out
					| -
					a(href="room") Create a room
					| -
					a(href="help#About",target=help) Help
		div#notifs
			div.MP
				h2 Notifications
				if pings.length==1
					p
						| You've been pinged in room&nbsp;
						a(href=pings[0].room)= pings[0].roomname
				else if pings.length
					p You've been pinged in rooms
					ul 
						each ping in pings
							li
								a(href=ping.room)= ping.roomname
				else
					p None
		div.MP
			div.table
				div.CL
					h2 Public Rooms
					table.list#publicRooms
				div.CR
					h2(title="Those are the private rooms whose access has been granted to you") Accessible Private Rooms
					table.list#privateAccessibleRooms
					h2(title="Those are important private rooms. You may request an access") Main Private Rooms
					table.list#otherPrivateRooms
		script.		
			var loginRoom = localStorage['login.room'];
			if (loginRoom) {
				delete localStorage['login.room'];
				location = loginRoom;
			}
			delete localStorage['room'];
			
			!{JSON.stringify(rooms)}.forEach(function(r){
				var $tr = $('<tr>').append(
					$('<td>').addClass(r.private?'private':'public').append($('<a>').attr('href',r.path).text(r.name))
				).append(
					$('<td>').addClass('rendered').html(miaou.mdToHtml(r.description))
				);
				var title;
				switch(r.auth) {
				case 'read':
					title = 'You can only read in this room';
				case 'read':
					title = 'You can read and write in this room';
				case 'admin':
					title = "You're an administrator of this room : you can change its name and description, give or revoke writing rights, and give admin rights.";
				case 'own':
					title = "You're an owner of this room : you can change its name and description, give or revoke writing and admin rights, and give owner rights.";
				}
				if (r.auth) $tr.append($('<td>').addClass('role').text(r.auth).attr('title', title));
				$tr.appendTo(r.private ? (r.auth ? '#privateAccessibleRooms' : '#otherPrivateRooms') : '#publicRooms');
			});
			$('h2','.CL,.CR').filter(function(){ return !$(this).next('.list').find('tr').length }).hide();
			
			$('#logout').click(function(){
				delete localStorage['successfulLoginLastTime'];
				setTimeout(function(){ location = 'logout' }, 100);
			});

