doctype 5
html
	head
		title Miaou - Rooms
		link(rel="icon",type="image/png",href="static/miaou-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="static/jquery-2.0.3.min.js")
		script(src="static/miaou.format.js")
		style.
			#title {
				display: table-row;
			}
			h1 {
				margin-top: 0;
				font-size: 600%;
			}
			#logo {
				display: table-cell;
			}
			#title-text {
				display: table-cell;
				vertical-align: top;
				padding: 9px;
			}
	body
		div.MP
			div#title
				div#logo
					img(src="static/miaou-150.png")
				div#title-text
					h1 Miaou
					p
						a(href="room") Create a room
			h2 Notifications
			if pings.length==1
				p
					| You've been pinged in room&nbsp;
					a(href=pings[0].room)= pings[0].roomname
			else if pings.length
				p You've been pinged in rooms
				ul 
					each ping in pings
						li
							a(href=ping.room)= ping.roomname
			else
				p None
			div.CL
				h2 Public Rooms
				table.list
					each room, i in rooms.public
						tr
							th: a(href=room.path) #{room.name}
							td.rendered #{room.description}
							if room.auth
								td.role= room.auth
			div.CR
				h2(title="Those are the private room whose access has been granted to you") Accessible Private Rooms
				table.list
					each room, i in rooms.private
						tr
							th.private: a(href=room.path) #{room.name}
							td.rendered #{room.description}
							if room.auth
								td.role= room.auth
		script.
			var loginRoom = localStorage['login.room'];
			if (loginRoom) {
				delete localStorage['login.room'];
				location = loginRoom;
			}
			delete localStorage['room'];
			$('.rendered').html(function(_,h){ return miaou.mdToHtml(h) });
			$('.role').attr('title', function() {
				switch(this.innerHTML.trim()) {
				case 'read':
					return 'You can only read in this room';
				case 'read':
					return 'You can read and write in this room';
				case 'admin':
					return "You're an administrator of this room : you can change its name and description, give or revoke writing rights, and give admin rights.";
				case 'own':
					return "You're an owner of this room : you can change its name and description, give or revoke writing and admin rights, and give owner rights.";
				}
			});
					
