doctype html
html
	head
		title Miaou - Rooms
		meta(name="viewport",content="initial-scale=1, maximum-scale=1")
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/themes/'+theme+'/miaou.css')
		script(src="static/jquery-3.3.1.min.js")
		script#locals(type="Application/JSON") !{inlineJSON(vars)}
		script(src="static/miaou.min.js")
		script(src="static/rooms.min.js")
		style.
			body {
				padding: 0;
				overflow-x: hidden;
			}
			#logo img {
				margin-top: 10px;
				max-height: 70px;
			}
			#logo a {
				margin: 0 10px;
			}
			#home-main-content {
				position: relative;
				margin-top: 245px;
			}
			h3 {
				text-align: center;
			}
	body.home.mobile
		#mobtop
			#logo
				img(src="static/Miaou-300-f.png")
				p.links
					| You're connected as
					a.username(href="prefs")= user.name
					br
					a(id="logout",href="#") Log Out
					| -
					a(href="room") Create a room
					| -
					a(href="help#About",target=help) Help
			#home-notifs
				if pings.length==1
					p
						| You've been pinged in room&nbsp;
						a(href=pings[0].room)= pings[0].roomname
				else if pings.length
					p You've been pinged in rooms
					ul 
						each ping in pings
							li
								a(href=ping.room)= ping.roomname
				else
					p No notification
			.rooms-tabs.mobtabs
		div#mobstrip
			.rooms-tabs.mobtabs
		div#home-main-content
			#rooms-page
