doctype html
html
	head
		title Miaou - Rooms
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='static/main.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="static/miaou.min.js")
		style.
			.CL, .CR {
				background: $bg-color;
				width: 50%;
				padding: 2px;
				display: table-cell;
				vertical-align: top;
			}
			.CC {
				padding: 2px;
			}
	body.home
		a(href="https://github.com/Canop/miaou",target="github")
			img(style="position:absolute; top:0; right:0; border:0;",src="static/gh_ribbon_right_gray.png",alt="Fork me on GitHub")
		section#home-top
			div.MP
				div#langfilter
					each lang, key in langs
						div.lang.off(id=key)
							img(src="static/langs/"+key+".png")
				img(src="static/Miaou-300-f.png")
				p.links
					| You're logged as
					a.username(href="profile",title="edit profile")= user.name
					| -
					a(id="logout",href="#") Log Out
					| -
					a(href="room") Create a room
					| -
					a(href="help#About",target=help) Help
		section#home-notifs
			div.MP
				h2 Notifications
				if pings.length==1
					p
						| You've been pinged in room&nbsp;
						a(href=pings[0].room)= pings[0].roomname
				else if pings.length
					p You've been pinged in rooms
					ul 
						each ping in pings
							li
								a(href=ping.room)= ping.roomname
				else
					p None
		#home-tabs.MP
			span.tab.selected Your Main Rooms
			span.tab Public Rooms
			span.tab Private Rooms
			span.tab Dialog Rooms
		#home-tab-shadows.MP
			span.tab.selected 
			span.tab 
			span.tab 
			span.tab 
			
		section#home-main.hastabs
			div#home-main-content
				div.table
		script.
			var rooms = !{JSON.stringify(rooms)},
				langs = !{JSON.stringify(langs)},
				tabletop = 250;
		script(src="static/rooms.min.js")
