doctype html
html
	head
		title Miaou
		link(rel="icon",type="image/png",href="static/M-32.png")
		link(rel='stylesheet', href='../static/main.css')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
		script(src="../static/miaou.min.js")
		style.
			#whatsmiaou {
				background: #dc3535;
				color: white;
				font-size: 120%;
				font-weight: bold;
				position: fixed;
				right: 30%;
				top: 70px;
				border: 2px solid #555;
				opacity: 0;
				z-index: 5;
			}
			#whatsmiaou.on {
				opacity: 1;
				transition: all 3s ease-in;
			}
			#whatsmiaou:hover {
				border: 2px solid #222;
				box-shadow: 1px 1px 5px #555;
				transition: all 0.5s ease-in;
			}
	body.home
		a(href="https://github.com/Canop/miaou",target="github")
			img(style="position:absolute; top:0; right:0; border:0;",src="../static/gh_ribbon_right_gray.png",alt="Fork me on GitHub")
		section#hometop
			div.MP
				a(href="..")
					img(src="../static/Miaou-300-f.png")
		button#whatsmiaou What's Miaou ?
		section
			div.thinMP
				h2= user.name
		section#homemain
			div#homemaincontent
				table#userinfo
				h3
					span.user= user.name + ' '
					case rooms.length
						when 0
							| didn't post in any publicly listed room
						when 1
							| might be found in this room :
						default
							| can usually be found in these rooms :
					br
					br
				table.list#recentRooms
				div.dialog_buttons#buttons
					button(onclick="location='..'") Miaou Home
		
		script.
			if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|Mini/i.test(navigator.userAgent)) $(document.body).addClass('mobile');
			var user = !{JSON.stringify(user)},
				userinfo = !{JSON.stringify(userinfo)};
			document.title = user.name + ' @ Miaou';
			!{JSON.stringify(rooms)}.forEach(function(r){
				$('<tr>').append(
					$('<td>').addClass(r.private?'private':'public').append($('<a>').attr('href',r.path).text(r.name))
				).append(
					$('<td>').addClass('rendered').html(miaou.mdToHtml(r.description))
				).appendTo('#recentRooms');
			});
			
			if (userinfo.location) {
				$('#userinfo').append(
					$('<tr>').append(
						$('<th>').text('location')
					).append(
						$('<td>').text(userinfo.location)
					)
				);
			}
			if (userinfo.url) {
				$('#userinfo').append(
					$('<tr>').append(
						$('<th>').text('website')
					).append(
						$('<td>').append($('<a>').text(userinfo.url).attr('href', userinfo.url))
					)
				);
			}
			if (userinfo.description) {
				$('#userinfo').append(
					$('<tr>').append(
						$('<th>').text('self description')
					).append(
						$('<td>').text(userinfo.description)
					)
				);
			}
			$(window).load(function(){
				setTimeout(function(){
					$('#whatsmiaou').addClass('on').click(function(){
						location = '../static/intro.html';
					});
					setTimeout(function(){
						$('#whatsmiaou').text("Discover Miaou !");
					}, 4000);
				}, 1500);
			});
